*.jpg
*.tre
*.pdf
*.[0-9]
*.fa
*.fasta
*.fa
*.faa
*.fna
*~
*.gbk
*.gbs
*.fasta
*.log
*.gi
*.pyc
*.sslist
*.png
*.xlsx
*.DS_Store
*.ai
results/2015-11-16/GTA_tree_ML.pdf
results/2015-10-05/GTAs/.RData
results/2015-12-03/GTAs/.DS_Store
